<h1>New TV Show</h1>

<div class="ui grid">
    <div class="nine wide column">
        <%= render 'form', tv_show: @tv_show %>
    </div>
    <div class="two wide column">
        <div class="ui right aligned grid">

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <i class="left arrow big inverted icon"></i>
            </div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <i class="left arrow big inverted icon"></i>
            </div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <i class="left arrow big inverted icon"></i>
            </div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <i class="left arrow big inverted icon"></i>
            </div>

        </div>
    </div>
    <div class="five wide column">
        <div class="ui center aligned grid">
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <h2>Basic information</h2>
            </div>
            <div class="sixteen wide column">
                <i class="info circle massive inverted icon"></i>
            </div>


            <div class="sixteen wide column">
                <h2>Categorization</h2>
            </div>
            <div class="sixteen wide column">
                <i class="tasks massive inverted icon"></i>
            </div>



            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <h2>Plot information</h2>
            </div>
            <div class="sixteen wide column">
                <i class="file text outline massive inverted icon"></i>
            </div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <h2>Cast</h2>
            </div>
            <div class="sixteen wide column">
                <i class="group massive inverted icon"></i>
            </div>
        </div>
    </div>
</div>

<!-- <%= link_to 'Back', tv_shows_path %> -->
