<h1>Editing Subtitle</h1>

<%= render 'form', subtitle: @subtitle %>

<!-- <%= link_to 'Show', @subtitle %> | -->
<div style="margin: 20px 0;">
    <%= link_to(subtitles_path, :class => "ui left floated basic small teal labeled icon button") do %>
        <i class="angle left icon"></i> Back
    <% end %>
</div>
