<h1>New Director</h1>

<%= render 'form', director: @director %>

<div style="margin: 20px 0;">
    <%= link_to(directors_path, :class => "ui left floated basic small teal labeled icon button") do %>
        <i class="angle left icon"></i> Back
    <% end %>
</div>
