<h1>Admin Dashboard</h1>

<%= link_to(list_users_administrator_path, :class=>"ui labeled icon button teal", :style => "margin-bottom:15px;") do%>
    <i class="user icon"></i>
    Users
<% end %>

<%= link_to(actors_path, :class=>"ui labeled icon button teal", :style => "margin-bottom:15px;") do%>
    <i class="user icon"></i>
    Actors
<% end %>

<%= link_to(directors_path, :class=>"ui labeled icon button teal", :style => "margin-bottom:15px;") do%>
    <i class="user icon"></i>
    Directors
<% end %>

<%= link_to(subtitles_path, :class=>"ui labeled icon button teal", :style => "margin-bottom:15px;") do%>
    <i class="world icon"></i>
    Subtitles
<% end %>
