// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_container {
  padding-top: 70px;
  background: image_url('default_background.jpg') no-repeat fixed center;
  background-size: cover;
  background-color: black;
  min-height: 100%;
}

#menu_header {
  background-color: rgba(0,0,0,0.6);
}

#page_container {
  background-color: rgba(0,0,0,0.6);
  min-height: 560px;
  padding-bottom: 30px;
}


#logo {
  font-size: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  font-weight: bold;
}